.hero {
	@include fluid(height, 229, 362);

	width: 100%;
	padding: 0 20px;

	background-image: url($homepage_background_image);
	background-position: center;
	background-size: cover;
	text-align: center;

	&-inner {
		display: flex;

		margin: 0 auto;

		height: 100%;
		width: auto;

		justify-content: center;
	}
}

// Shame css

.section.hero {
	margin-bottom: 0;
}
