.news {
	background-color: #f2f2f2;

	&__header {
		@include fluid(padding-top, 47, 100);

		display: flex;

		flex-direction: column;

		& > &__title {
			@include fluid(font-size, 30, 40);
			@include font-primary;

			margin-bottom: 0;

			color: $b-text-color-primary;
			font-weight: bold;
			line-height: 1;
			text-align: left;
		}

		&__link {
			@include link;
		}
	}

	&__article {
		&__image {
			@include fluid(margin-top, 37, 39);

			width: 100%;

			border-radius: 20px;
		}
	}
}
